html{
    background-color: rgb(0, 0, 0);
    font-family: helvetica;
}
h1{
    text-align: center;
    color:rgb(241, 239, 72)
}
.centered-title {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 30vh;
  }
  p{
    color: rgb(240, 228, 60);
}
  .bold{
    font-weight: bold;
    font-size: 18px;
}