html{
    background-color: rgb(209, 54, 54);
    font-family: helvetica;
}
h1{
    text-align: center;
    color:rgb(247, 245, 245)
}
.centered-title {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 30vh;
  }
  .bold{
    font-weight: bold;
    font-size: 18px;
}
p{
    color: aliceblue;
}